* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.parent {
    background-color: #23424A;
    color: white;
    padding: 2em;
    margin: 0 auto;
    width: 80%;
}

.content {
    width: 50%;
}