* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    background-color: #23424A;
    color: white;
    padding: 2em;
    margin: 0 auto;
}
.parent {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}

.content {
    width: 50%;
}
